@charset "utf-8";
@import "_mixin";

@keyframes blink {
  0%{border-color: transparent;}
  50%{border-color: #fff}
  100%{border-color: transparent;}
}
@keyframes typing {
  0%{width: 0%; opacity: 1;}
  40%{width: 100%; opacity: 1;}
  100%{width: 100%; opacity: 1;}
//   90%{width: 0%}
//   100%{width: 0%;}
}
@keyframes opacity {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes leftMove {
  0%{margin-left: 100%;}
  100%{margin-left: -50%;}
}
@keyframes rightMove {
  0%{margin-right: 100%;}
  100%{margin-right: -50%;}
}
@keyframes circle {
  0%{opacity: 1; transform: scale(1);}
  100%{opacity: 0; transform: scale(1.7);}
}
@keyframes arrow {
  0%{opacity: 0.5;}
  100%{opacity: 1;}
}
@keyframes scrollDown {
  0%{margin-bottom: 0;}
  100%{margin-bottom: 5px;}
}
@keyframes square {
  0%{stroke-width: 10; stroke-dasharray: 80 500; stroke-dashoffset: -420; stroke: #fcb95e;}
  100%{stroke-width: 7; stroke-dasharray: 420; stroke-dashoffset: 0; stroke: #f57e3c;}
}
@keyframes square2 {
  0%{stroke-width: 10; stroke-dasharray: 80 500; stroke-dashoffset: -420; stroke: #ffdcdc;}
  100%{stroke-width: 7; stroke-dasharray: 420; stroke-dashoffset: 0; stroke: #ec8787;}
}
@keyframes stress {
  0%{
    @include transform(scale(1));
  }
  100%{
    @include transform(scale(1.1));
  }
}
@keyframes hover {
  0%{
    @include transform(translate(-30px, -30px));
  }
  100%{
    @include transform(translate(0, 0));
  }
}
@keyframes hover2 {
  0%{
    @include transform(translateY(-15px));
  }
  100%{
    @include transform(translateY(0));
  }
}
@keyframes rotateThumb {
  0%{
    @include transform(rotate(-10deg));
  }
  50%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(0deg));
  }
}
@keyframes rotateSanta {
  0%{
    @include transform(rotate(-5deg));
    transform-origin: bottom;
  }
  100%{
    @include transform(rotate(0deg));
    transform-origin: bottom;
  }
}
@keyframes moveclouds { 
  0%{top: 0;}
  100%{top: 4169px;}
}
@keyframes moveclouds2 { 
  0%{top: 0;}
  100%{top: 130vh;}
}
@keyframes sideWays { 
  0%{margin-left:0px;}
  100%{margin-left:100px;}
}
@keyframes sideWays2 { 
  0%{margin-left:0px;}
  100%{margin-left:150px;}
}
@keyframes move { 
  0%{right: 100px;}
  100%{right: 0;}
}
@keyframes move2 { 
  0%{right: 50px;}
  100%{right: 0;}
}
@keyframes santaSki {
  0%{left: 0; margin-top: 1000px;}
  50%{left: 50%; margin-top: 1200px;}
  100%{left: 100%; margin-top: 1400px;}
}
@keyframes shake {
  0%{
    @include transform(rotate(-5deg));
  }
  3%{
    @include transform(rotate(5deg));
  }
  6%{
    @include transform(rotate(-5deg));
  }
  9%{
    @include transform(rotate(5deg));
  }
  10%{
    @include transform(rotate(0deg));
  }
  70%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(0deg));
  }
}

@keyframes drift {
  from {
    @include transform(rotate(0deg));
  }
  from {
    @include transform(rotate(360deg));
  }
}